<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Парсер</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="content">
        <header>
            <div class="menu">
                <ul>
                    <a href="/bot"><li>Бот</li></a>
                    <li id="active_item_menu">Парсер</li>
                    <a href="/statistics"><li>Статистика</li></a>
                </ul>
            </div>
        </header>
        <div class="row">
            <div class="column"><button id="start_parsing">Спарсить статистику</button></div>
            <div class="column"><button id="parsing_file">Обработать файл</button></div>
        </div>
        <div class="row"><div id="progress_bar">Прогресс Бар</div></div>
        <div class="row"><select id="Days" disabled><option value="Нет данных...">Нет данных...</option></select></div>
        <div class="row overflow_row scrollStyle">
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Название турнира</th>
                        <th>Количество матчей</th>
                        <th>Алгоритм 2x9</th>
                        <th>Алгоритм 2x9 Обратный</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javacripts/scripts.js"></script>
</body>
</html>