<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Статистика</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="content">
        <header>
            <div class="menu">
                <ul>
                    <a href="/bot"><li>Бот</li></a>
                    <a href="/"><li>Парсер</li></a>
                    <li id="active_item_menu">Статистика</li>
                </ul>
            </div>
        </header>
        <div class="row"><h3>В разработке ...</h3></div>
    </div>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javacripts/scripts.js"></script>
</body>
</html>